.menuItem:hover {
  transform: translateY(5px);
  transition: transform 200ms ease-in-out;
}
.menuItem {
  transform: translateY(-5px);
  transition: transform 200ms ease-in-out;
}

@media screen and (max-width: 900px) {
  .containerShow {
    width: 100%;
    height: 100%;
    transform: translateY(0%);
    transition: transform 200ms ease-in-out;
    position: fixed;
    background-color: #131313;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .containerHide {
    width: 100%;
    height: 100%;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 200ms ease-in-out;
    background-color: #131313;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .showButton {
    visibility: visible;
    color: white;
  }
  .hideButton {
    visibility: hidden;
    color: white;
  }

  .menuItemContainer {
    padding: 30px;
  }

  .menuItem {
    display: flex;
    justify-content: center;
    margin: 35px;
    cursor: pointer;
  }

  .text {
    color: #9b9b9b;
  }
  .textActive {
    color: #8982ff;
  }

  .hamburger {
    position: fixed;
    right: 30px;
    top: 10px;
    z-index: 999;
  }
}

@media screen and (min-width: 901px) {
  .containerShow,
  .containerHide {
    position: fixed;
    top: 0;
    right: 20px;
  }
  .menuItemContainer {
    display: flex;
  }

  .menuItem {
    width: 50px;
    cursor: pointer;
  }

  .text {
    text-align: right;
    margin-left: -50%;
    margin-top: 60px;
    width: 100px;
    color: #9b9b9b;
    transform: rotate(-90deg);
  }

  .textActive {
    text-align: right;
    margin-left: -50%;
    color: #8982ff;
    transform: rotate(-90deg);
    margin-top: 150px;
    width: 200px;
    margin-left: -150%;
  }

  .bar {
    height: 60px;
    width: 2px;
    margin-left: 50%;
    background-color: #9b9b9b;
    transition: height 100ms linear;
  }

  .barActive {
    height: 100px;
    width: 4px;
    margin-left: 50%;
    background-color: #8982ff;
    transition: height 100ms linear;
  }

  .hamburger {
    visibility: hidden;
    height: 0px;
    position: fixed;
    z-index: 999;
  }
}
