.container {
  width: 100%;
  padding: 5%;
  min-height: 100vh;
}

.subContainer {
  display: flex;
}

.box {
  width: 45%;
  display: flex;
  position: relative;
}

.title {
  margin: 0 0 10px 0;
}

.textContainer {
  padding: 20px;
}

.p {
  color: #707070;
  font-size: 13px;
  line-height: 1.8;
}

/* Icons container */

.iconContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 20px;
}
.icon {
  width: 40px;
  height: 40px;
}
.bar {
  height: 100px;
  width: 1.5px;
  background-color: black;
  margin-left: 50%;
}

.iconItem {
  display: flex;
}

.iconItemText {
  margin: 10px 0 0 30px;
}

/* Skillcontainer */
.skillsContainer {
  position: relative;
  padding: 20px;
  margin-top: 100px;
  width: 40%;
  z-index: -1;
}

@media screen and (max-width: 901px) {
  .skillsContainer {
    margin: auto;
    margin-bottom: 5%;
  }
  .subContainer {
    display: block;
    justify-content: center;
  }

  .box {
    width: 90%;
    margin: auto;
    margin-bottom: 20%;
  }
}
