.container {
  padding-bottom: 10%;
  position: relative;
  min-height: 100vh;
  margin: auto;
  width: 80%;
}

.titleContainer {
  display: flex;
}

.errorMessage {
  font-size: 15px;
  color: red;
}

.formInput {
  flex-direction: column;
  margin-top: 20px;
  display: flex;
}

.sendBtn {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #6c63ff;
  border-style: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  height: 60px;
  width: 100%;
  margin: 15px 0 15px 0;
  font-family: Comfortaa;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.sendBtn:hover {
  background-color: #4d48b9;
}

textarea,
input {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-appearance: none;
  font-family: Comfortaa;
  margin: 15px 0 15px 0;
  border-radius: 5px;
  border-style: none;
  font-size: 15px;
  outline: none;
  padding: 10px;
}

input {
  height: 30px;
}

textarea {
  resize: none;
  height: 200px;
  font-family: inherit;
}

.blue {
  color: #6c63ff;
  display: inline;
}
