.container {
  height: 100vh;
  width: 100%;
}

.titleContainer {
  margin-right: auto;
  margin-left: auto;
  margin-top: 15%;
  width: 80%;
}

.row {
  display: flex;
}

.background {
  transition: all 300ms ease-in-out;
  background-color: #212121;
  position: absolute;
  border-radius: 0;
  z-index: -1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.backgroundScroll {
  transition: all 300ms ease-in-out;
  background-color: #131313;
  position: absolute;
  border-radius: 20px;
  z-index: -1;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}

.white {
  color: white;
  margin-bottom: 5px;
}

.outline {
  font-family: "Bungee Outline", cursive;
  color: white;
}

.grey {
  color: #9b9b9b;
}

.text {
  color: #9b9b9b;
  margin: 10px 0 10px 0;
}

.blue {
  color: #8982ff;
}

@media screen and (max-width: 600px) {
  .titleContainer {
    margin-top: 50%;
  }
}
