.titleContainer {
  margin-left: 10%;
  margin-top: 15%;
}

.container {
  height: 100vh;
  width: 100vw;
}

@media screen and (min-width: 901px) {
  .titleContainer {
    margin-left: 20%;
    margin-top: 15%;
  }
}
