.container {
  min-height: 100vh;
  padding-top: 5%;
  width: 80%;
  margin: auto;
}

.titleContainer {
  margin-bottom: 5%;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
