.container {
  margin-bottom: 5%;
  cursor: pointer;
  column-rule-color: thistle;
}

.headerContainer {
  display: flex;
  margin-bottom: 10px;
}

.header {
  padding: 15px 0 15px 0;
  font-family: Monoton;
  color: #e4e4e4;
  margin: 0 20px 0 0;
}

.text {
  margin-top: 10px;
}

.link {
  margin: 0 10px 0 10px;
  color: #8982ff;
  font-size: 20px;
  display: inline;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}
