body {
  margin: auto;
  overflow-x: hidden;
  font-family: "comfortaa";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}

#root {
  overflow-x: hidden !important;
}
