.mapContainer {
  height: 400px;
  display: flex;
  background-color: khaki;
}

.map {
  height: 100%;
  width: 100%;
}

.marker {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: black;
}

@media screen and (max-width: 600px) {
  .mapContainer {
    display: block;
    height: 600px;
  }

  .map {
    height: 50%;
  }
}
