/* box */

.boxContainer {
  width: 50%;
}

.line {
  background-color: #e3e1ff;
  height: 10px;
}
.middle {
  justify-content: space-around;
  background-color: #131313;
  flex-direction: column;
  height: 380px;
  display: flex;
}

.center {
  text-align: center;
  color: white;
}

@media screen and (max-width: 600px) {
  .boxContainer {
    width: 100%;
  }
  .middle {
    height: 300px;
  }
}
